<html>
    <body>
        <h1><center>Welcome to the Machine Learning Dashboard</center></h1>
        <center>
            <hr>
            <h3> Original by Professor Noah Gift 2021</h3>
            <br><br>use parameter /predicthtml?Weight=250 in the URL<br><hr>
            <table border=2>
                {% for key,value in output.items() %}
                <tr>
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
            <br><br>
            <a href="http://127.0.0.1:8080/"><button>Home</button></a>
            <hr>
            Adapted By Arturo Cardenas 2021<BR>
                HTML version GET, AWS APP RUNNER
            <hr>
        </center>
    </body>
</html>